@import './variables.css';

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

button {
  font-family: var(--font-primary);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
}

a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}

a:hover::after {
  width: 40%;
}

a:hover {
  color: var(--primary-color);
}