.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
}

.navbar a {
  margin: 0 10px;
  color: var(--secondary-color);
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
